{% capture img_id %}FeatureRowImage-{{ id }}{% endcapture %}
{% capture wrapper_id %}FeatureRowImageWrapper-{{ id }}{% endcapture %}
{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{% include 'image-style', image: image, height: height, wrapper_id: wrapper_id, img_id: img_id %}
<div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
    <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" data-image-loading-animation>
    <img id="{{ img_id }}"
            class="feature-row__image lazyload"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ image.alt | escape }}">
    </div>
</div>

<noscript>
    {{ image | img_url: '600x600', scale: 2 | img_tag: image.alt, 'feature-row__image' }}
</noscript>