{% comment %}
    Renders a list of menu items, without a wrapper UL
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)

    Usage:
    {% include 'site-nav', linklist: section.settings.main_linklist ' %}
{% endcomment %}
  {% for link in linklists[linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}

    {% if link.links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" data-has-dropdowns id="shopDropdownTrigger">
        
        <a href="{{ link.url }}"
            class="site-nav-dropdown-parent site-nav__link site-nav__link--main
            {% if link.active %} site-nav__link--active{% endif %}"
            type="button" 
            aria-expanded="false" 
            aria-controls="SiteNavLabel-{{ child_list_handle }}
            {% if link.current %} aria-current="page"{% endif %}>
            <span class="site-nav__label">
                {{ link.title | escape }}
            </span>
        </a>

        <div class="site-nav__dropdown critical-hidden site-nav__dropdown--centered" id="SiteNavLabel-{{ child_list_handle }}">
            <ul>
              {% for childlink in link.links %}
                <li>
                  <a href="{{ childlink.url }}"
                  class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"
                  {% if childlink.current %} aria-current="page"{% endif %}
                >
                    <span class="site-nav__label">{{ childlink.title | escape }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
        </div>
      </li>
    {% else %}
      <li {% if link.active %} class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}"
          class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
          {% if link.current %} aria-current="page"{% endif %}
        >
          <span class="site-nav__label">{{ link.title | escape }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}

