<div class="accounts-grid login feature-row grid-container">
  <div class="text-wrapper">
    <div class="section-header">
      <div class="form-vertical">
        {% form 'reset_customer_password' %}

          <h1>{{ 'customer.reset_password.title' | t }}</h1>

          <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

          {%- if form.errors -%}
            <div class="form-message form-message--error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label class="visually-hidden" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
          <input placeholder="password" type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

          <label class="visually-hidden" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input  placeholder="confirm" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

          <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
        {% endform %}
      </div>

    </div>
  </div>
  <div class="image-wrapper">
    {% include 'image-feature-row', image: settings.account_login_image, height: 545, id: settings.account_login_image.id %}
  </div>
</div>
