<div class="quotes co-section-4" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper" data-slider>
      <div class="quotes-slider-wrapper" data-slider-container>
        <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-slider-track>

          {% for block in section.blocks %}
            <div id="slickSlide{{ block.id }}"
              class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
              aria-labelledby="slickDot{{ block.id }}"
              {{ block.shopify_attributes }}
              data-slider-slide-index="{{ forloop.index0 }}"
              data-slider-item>

              <blockquote class="quotes-slider__text">
                {% if block.settings.quote != blank %}
                  <div class="rte-setting rte">{{ block.settings.quote }}</div>
                {% endif %}
                {% if block.settings.author != blank %}
                  <cite>{{ block.settings.author | escape }}</cite>
                {% endif %}
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "Kind Words",
  "class": "corporate-section",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author's name"
        }
      ]
    }
  ]
}
{% endschema %}
