{% capture image_layout %}
<div class="image-wrapper">
  {% if section.settings.image != blank %}
    {% include 'image-feature-row', image: section.settings.image, height: 545, id: section.id %}
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>
{% endcapture %}


<div class="feature-row co-section-6">

    {{ image_layout }}

    <div class="text-wrapper">
      {% if section.settings.title != blank %}
        <div class="title">{{ section.settings.title }}</div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="text">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      {%- capture ariaLabel -%}
          {{- section.settings.button_label -}}
          {%- if section.settings.button_link.type == 'frontpage_link' -%}
          : {{ 'homepage.general.title' | t -}}
          {%- elsif section.settings.button_link.type == 'catalog_link' -%}
          : {{ 'collections.catalog.title' | t -}}
          {%- elsif section.settings.button_link.object.title -%}
          : {{ section.settings.button_link.object.title -}}
          {%- endif -%}
      {%- endcapture -%}

      <a href="{{ section.settings.button_link }}"
          class="underline-link"
          aria-label="{{ ariaLabel }}">
          {{- section.settings.button_label | escape -}}
      </a>
      
      {% endif %}
    </div>
    
</div>



{% schema %}
{
  "name": "Image + Text",
  "class": "corporate-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Get Started"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}
