{% paginate collection.products by limit %}

<div class="collections-page" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collections-header">
    {%- assign is_filter_by_available = false -%}
      {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
        {%- assign is_filter_by_available = true -%}
      {%- endif -%}
    
      <div class="section-header">
        <div class="grid-container">
        <div class="text-wrapper">
        {% if collection.handle == 'all' %}
            {% if settings.shop_all_page_title != blank %}
                <h1 class="title">{{ settings.shop_all_page_title }}</h1>
              {% if settings.shop_all_page_description != blank %}
                <div class="rte description">
                  {{ settings.shop_all_page_description }}
                </div>
              {% endif %}
            {% endif %}
        {% else %}
          <h1>
            <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
                {{ collection.title }}
              </h1>
            {% if collection.description != blank %}
              <div class="rte description">
                {{ collection.description }}
              </div>
            {% endif %}
        {% endif %}
      </div>
      </div> <!-- /. text-wrapper-->
    </div>

      {% if is_filter_by_available or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper{% if is_filter_by_available %} filters-toolbar--has-filter{% endif %}">
        <div class="page-width">
          <div class="filters-toolbar grid-container ">
            <div class="filters-toolbar__item-wrapper">

              <!-- tag filter -->
              {% if section.settings.tags_enable %}
                {% unless collection.all_tags.size == 0 %}
                  <div class="filters-toolbar__item-child">
                    <label class="filters-toolbar__label select-label" for="FilterTags">{{ 'collections.filters.title_tags' | t }}</label>
                    <div class="filters-toolbar__input-wrapper select-group">
                      <select class="filters-toolbar__input hidden" name="FilterTags" id="FilterTags" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-select-input>>
                        <option value="{{ collection.url }}" readonly="true" hidden="true" selected>Category</option>
                        <option value="{{ collection.url }}">{{ 'collections.filters.all_tags' | t }}</option>
                        {% comment %}
                          Don't include tags that start with _ in the filter list ! 
                        {% endcomment %}
                        {% for tag in collection.all_tags %}
                          {%- assign tag_start = tag | slice: 0 -%}
                          {% if tag_start == "_" %}
                            {% continue %}
                          {% else %}
                            {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
                            <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                {% endunless %}
              {% endif %}

              {% comment %}
              <!-- price-ascending
              price-descending -->
              <!-- price filter -->
              {% endcomment %}

              {% if section.settings.sort_enable %}
                <div class="filters-toolbar__item-child">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  {% if collection.all_tags.size == 0 %}
                  <div class="filters-toolbar__item-child">
                    <label class="filters-toolbar__label select-label" for="FilterTags">{{ 'collections.sorting.title' | t }}</label>
                  {% else %}
                    <label class="visually-hidden filters-toolbar__label select-label" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                  <div class="filters-toolbar__input-wrapper select-group">
                    {% endif %}
                    <select name="sort_by" id="SortBy"
                      class="filters-toolbar__input hidden"
                      aria-describedby="a11y-refresh-page-message a11y-selection-message"
                      data-default-sortby="{{ collection.default_sort_by }}"
                      data-select-input
                      data-theme-text="Price"
                      <option value="{{ collection.url }}" readonly="true" hidden="true" selected>Price</option>
                      {% for option in collection.sort_options %}
                        {% if option.value contains 'price-ascending' or option.value contains 'price-descending'  %}
                          <option value="{{ option.value }}" {% if sort_by == option.value %} selected="selected" {% endif %}>{{ option.name }} </option>
                        {% endif%}
                      {% endfor%}
                    </select>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </header>

  <div class="collections-grid" id="Collection">

      <ul class="grid-container">
        {% for product in collection.products %}
            <li class="grid__item grid__item--{{section.id}}">
              {% include 'product-card-grid', max_height: 527, product: product, show_vendor: false %}
            </li>
        {% endfor %}
      </ul>
    

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
    {%- endif -%}
  </div>
</div>

{% endpaginate %}



{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable tag filtering",
      "default": true
    }
  ]
}
{% endschema %}
