{% paginate collection.products by 12 %}

<div class="collections-page" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collections-header">
    {%- assign is_filter_by_available = false -%}
      {%- if  collection.all_tags.size > 0 -%}
        {%- assign is_filter_by_available = true -%}
      {%- endif -%}
    
      {% if collection.handle != 'vendors' %}

      <div class="section-header">
          <div class="grid-container">
          <div class="text-wrapper">
          {% if collection.handle == 'all' %}
              {% if settings.shop_all_page_title != blank %}
                  <h1 class="title">{{ settings.shop_all_page_title }}</h1>
                {% if settings.shop_all_page_description != blank %}
                  <div class="rte description">
                    {{ settings.shop_all_page_description }}
                  </div>
                {% endif %}
              {% endif %}
          {% else %}
            <h1>
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
                  {{ collection.title }}
                </h1>
              {% if collection.description != blank %}
                <div class="rte description">
                  {{ collection.description }}
                </div>
              {% endif %}
          {% endif %}
        </div><!-- /. text-wrapper-->
        </div> 
      </div>

      {% endif %}
      
      {% if is_filter_by_available %}
      <div class="grid-container filters-toolbar-wrapper{% if is_filter_by_available %} filters-toolbar--has-filter{% endif %}">
        <div class="filters-toolbar">
          <p>Filter by</p>
              {% unless collection.all_tags.size == 0 %}
              <div class="filter-item filter-by-tags">
                <label class="visually-hidden select-label" for="FilterTags">{{ 'collections.filters.title_tags' | t }}</label>
                  <select class="category-filter filters-toolbar__input hidden" name="FilterTags" id="FilterTags" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-select-input>
                    <option value="{{ collection.url }}" readonly="true" hidden="true">Category</option>
                    <option value="{{ collection.url }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% comment %}
                      Don't include tags that start with _ in the filter list ! 
                    {% endcomment %}
                    {% for tag in collection.all_tags %}
                      {%- assign tag_start = tag | slice: 0 -%}
                      {% if tag_start == "_" %}
                        {% continue %}
                      {% else %}
                        {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
                        <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
              </div>
              {% endunless %}

                <div class="filter-item filter-by-price">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <label class="visually-hidden select-label" for="SortBy">Price</label>
                    <select name="sort_by" id="SortBy"
                        class="hidden price-filter"
                        aria-describedby="a11y-refresh-page-message a11y-selection-message"
                        data-default-sortby="{{ collection.default_sort_by }}"
                        data-select-input
                        data-theme-text="Price">
                        <option value="{{ collection.url }}" readonly="true" hidden="true">Price</option>

                        {% for option in collection.sort_options %}
                          {% if option.value contains 'price-ascending' or option.value contains 'price-descending'  %}
                            <option value="{{ option.value }}" {% if sort_by == option.value %} selected="selected" {% endif %}>{{ option.name }} </option>
                          {% endif%}
                        {% endfor%}
                    </select>
                </div>


                <div class="filter-item filter-by-brand">
                    <label class="visually-hidden select-label" for="FilterByBrand">Brand</label>

                    <select name="brands" id="FilterByBrand" class="hidden brand-filter"                           
                        aria-describedby="a11y-refresh-page-message a11y-selection-message"
                        onChange="window.location.href=this.value">
                      <option value="{{ collection.url }}" readonly="true" hidden="true">Brand</option>

                      <option value="/collections/all">All</option>
                      {% for product_vendor in shop.vendors %}
                        {% if collection.current_vendor contains product_vendor %}
                            <option value="{{ product_vendor | url_for_vendor }}" selected>{{ product_vendor }}</option>
                        {% else %}
                            <option value="{{ product_vendor | url_for_vendor }}">{{ product_vendor }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                </div>

          </div>
        </div>
    {% endif %}
  </header>

  <div class="collections-grid">
      <ul class="grid-container">
        {% for product in collection.products %}
            <li class="grid__item grid__item--{{section.id}}">
              {% include 'product-card-grid', max_height: 527, product: product, show_vendor: false %}
            </li>
        {% endfor %}
      </ul>
    

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {%- if paginate.pages > 1 -%}
      <div class="pagination load-more">
        <div role="navigation" aria-label="pagination" class="load-more-btn btn" data-load-more-products="{{ paginate.next.url }}">Load More</div>
      </div>
    {%- endif -%}
  </div>
</div>

{% endpaginate %}



{% schema %}
{
  "name": "Collection pages"
}
{% endschema %}
