<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  <div class="grid-container">
    {% for block in section.blocks %}
      <div class="grid-container-item" {{ block.shopify_attributes }}>
        {% if block.settings != blank %}
            <div>
              {{ block.settings.featured_product }}
            </div>
            
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
    {%- capture ariaLabel -%}
      {{- section.settings.button_label -}}
      {%- if section.settings.button_link.type == 'frontpage_link' -%}
        : {{ 'homepage.general.title' | t -}}
      {%- elsif section.settings.button_link.type == 'catalog_link' -%}
        : {{ 'collections.catalog.title' | t -}}
      {%- elsif section.settings.button_link.object.title -%}
        : {{ section.settings.button_link.object.title -}}
      {%- endif -%}
    {%- endcapture -%}

    <a href="{{ section.settings.button_link }}"
      class="btn btn--secondary btn--small"
      aria-label="{{ ariaLabel | escape }}">
      {{- section.settings.button_label | escape -}}
    </a>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "Featured products row",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label":"Heading",
      "default": "Featured products"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "product",
          "id": "featured_product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Product"
    }
  ]
}
{% endschema %}
