{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

<footer class="site-footer critical-hidden" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">

    <div class="grid-container">

      <div class="site-footer-item site-footer-logo">
          {%- assign footer_logo = section.settings.footer_logo -%}
          {%- assign image_size = 144 -%}
          <a href="{{ routes.root_url }}" class="site-footer-logo-image" data-image-loading-animation>
            {% capture logo_alt %}{{ footer_logo.alt | default: shop.name }}{% endcapture %}
            <img class="lazyload js"
                src="{{ footer_logo | img_url: '100x', scale: 2 }}"
                data-src="{{ footer_logo | img_url: image_size, scale: 2 }}"
                data-widths="[100]"
                data-aspectratio="{{ footer_logo.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ logo_alt | escape }}">
            <noscript>
              <img src="{{ footer_logo | img_url: image_size }}"
                  srcset="{{ footer_logo | img_url: image_size }} 1x, {{ footer_logo | img_url: image_size, scale: 2 }} 2x"
                  alt="{{ footer_logo.alt | default: shop.name }}"
                  style="max-width: 200px;">
            </noscript>
          </a>
      </div>

      <div class="site-footer-item site-footer-nav">
          {%- assign footer_linklist = section.settings.footer_menu -%}
          <nav>
            <ul class="site-footer__linklist">
              {%- for link in linklists[footer_linklist].links -%}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}"
                    {% if link.current %} aria-current="page"{% endif %}
                  >
                    {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
          </ul>
        </nav>
      </div>


      {%- assign socials = "Instagram Pinterest Facebook Spotify Twitter Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
      <div class="site-footer-item site-footer-socials">
        {%- if social_icons -%}
          <ul class="site-footer__social-icons social-icons site-footer__icon-list">
            {%- for social in socials -%}
              {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
              {%- if settings[social_link] != blank -%}
                <li class="social-icons__item">
                  <a class="social-icons__link" href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message" target="_blank">
                    {{ social }}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}

            {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
              <li>
                <a class="social-icons__link" href="{{ shop.url }}{{ blog.url }}.atom">
                  RSS
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}
      </div> {% comment %} SOCIALS COLUMN END {% endcomment %}

      <div class="site-footer-item site-footer-newsletter">
        <h3>Newsletter</h3>
        <div id="footer-newsletter"></div>
      </div> 

    </div> 

  
    <div class="site-footer-copyright page-width text-center">
      {%- if section.settings.footer_copyright_text -%}
        {%- if section.settings.footer_copyright_text != blank -%} 
          <small class="site-footer__copyright-content">
            <div><p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</p></div>
            <div>{{ section.settings.footer_copyright_text }}</div>
          </small>
        {%- else -%}
          <small class="site-footer__copyright-content">
            <span>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}</span>
          </small>
        {%- endif -%}
      {%- endif -%}
    </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "richtext",
      "id": "footer_copyright_text",
      "label": "Footer Copyright Text",
      "default": "<p>Terms and Conditions</p>"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
