{%- if section.settings.hero_size == 'adapt' -%}
  {%- if section.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = section.settings.image.aspect_ratio -%}
  {%- endif -%}
  {%- assign wrapper_height = 100 | divided_by: min_aspect_ratio -%}
  {%- style -%}
    .hero-{{ section.id }} {
      height: {{- wrapper_height -}}vw !important;
    }
  {%- endstyle -%}
{%- endif -%}
<div data-section-id="{{ section.id }}" data-section-type="hero-section">
    <div class="hero hero--{{ section.settings.hero_size }} hero-{{ section.id }}{% if section.settings.title != blank or section.settings.product_link_text != blank or section.settings.button_1_text != blank %} hero__overlay{% endif %} box ratio-container lazyload js"
         id="Hero-{{ section.id }}"
         data-layout="full_width"
         {%- if section.settings.image -%}
          {% unless section.settings.image.alt == blank %}
          role="img"
          aria-label="{{ section.settings.image.alt | escape }}"
          data-alt="{{ section.settings.image.alt | escape }}"
          {% endunless %}
         data-bg="{{ section.settings.image | img_url: '300x300' }}"
         data-bgset="{% include 'bgset', image: section.settings.image %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-position: {{ section.settings.alignment }};"
         data-image-loading-animation
         {%- endif -%}>
    {%- if section.settings.image == blank -%}
      <div class="placeholder-background">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}

    {%- if section.settings.image_hover_swap -%}
    <div class="image-hover-swap hero hero--{{ section.settings.hero_size }} hero-{{ section.id }}{% if section.settings.title != blank or section.settings.product_link_text != blank or section.settings.button_1_text != blank %} hero__overlay{% endif %} box  lazyload js">
      <div class="lazyload js"
      id="Hero-swap-{{ section.id }}"
      data-layout="full_width"
      data-bg="{{ section.settings.image_hover_swap | img_url: '300x300' }}"
      data-bgset="{% include 'bgset', image: section.settings.image_hover_swap %}"
      data-sizes="auto"
      data-parent-fit="cover"
      style="background-position: {{ section.settings.alignment }}"
      data-image-loading-animation>
      </div>
    </div>
    {%- endif -%}

      <div class="hero__inner">
        <div class="grid-container">
          <div class="hero-text">
            {%- if section.settings.title != blank -%}
              <h2>{{ section.settings.title | escape }}</h2>
            {%- endif -%}
            {%- if section.settings.button_1_text != blank and section.settings.button_1_link != blank -%}
              {%- capture ariaLabel -%}
                {{- section.settings.button_1_text -}}
                {%- if section.settings.button_1_link.type == 'frontpage_link' -%}
                  : {{ 'homepage.general.title' | t -}}
                {%- elsif section.settings.button_1_link.type == 'catalog_link' -%}
                  : {{ 'collections.catalog.title' | t -}}
                {%- elsif section.settings.button_1_link.object.title -%}
                  : {{ section.settings.button_1_link.object.title -}}
                {%- endif -%}
              {%- endcapture -%}

              <a href="{{ section.settings.button_1_link }}"
                class="btn"
                aria-label="{{ ariaLabel }}">
                {{- section.settings.button_1_text | escape -}}
              </a>
            {%- endif -%}

            {%- if section.settings.button_2_text != blank and section.settings.button_2_link != blank -%}
              {%- capture ariaLabel -%}
                {{- section.settings.button_2_text -}}
                {%- if section.settings.button_2_link.type == 'frontpage_link' -%}
                  : {{ 'homepage.general.title' | t -}}
                {%- elsif section.settings.button_2_link.type == 'catalog_link' -%}
                  : {{ 'collections.catalog.title' | t -}}
                {%- elsif section.settings.button_2_link.object.title -%}
                  : {{ section.settings.button_2_link.object.title -}}
                {%- endif -%}
              {%- endcapture -%}

              <a href="{{ section.settings.button_2_link }}"
                class="btn"
                aria-label="{{ ariaLabel }}">
                {{- section.settings.button_2_text | escape -}}
              </a>
            {%- endif -%}

          </div>
          
          {%- if section.settings.product_link_text != blank -%}
            <div class="hero-caption">
                <div class="rte-setting">{{ section.settings.product_link_text }}</div>
            </div>
          {%- endif -%}

        </div>
      </div>
    </div>
    <noscript>
      <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.product_link_text != blank or section.settings.button_1_text != blank %} hero__overlay{% endif %}"{% if section.settings.image %}{% unless section.settings.image.alt == blank %} role="img" aria-label="{{ section.settings.image.alt | escape }}"{% endunless %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
    </noscript>


</div>


{% schema %}
{
  "name":"Hero Image with Text",
  "class":"index-section index-section--flush",
  "settings":[
     {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
     },
     {
      "type":"image_picker",
      "id":"image_hover_swap",
      "label":"Image Hover Swap"
     },
     {
        "type":"text",
        "id":"title",
        "label":"Headline",
        "default":"Elevated goods curated just for you"
      },
      {
        "type":"richtext",
        "id":"description",
        "label":"Description"
      },
      {
        "type": "text",
        "id": "button_1_text",
        "label": "Button 1 Text"
      },
      {
        "type": "url",
        "id": "button_1_link",
        "label": "Button 1 Link"
      },
      {
        "type": "text",
        "id": "button_2_text",
        "label": "Button 2 Text"
      },
      {
        "type": "url",
        "id": "button_2_link",
        "label": "Button 2 Link"
      },
      {
        "type":"richtext",
        "id":"product_link_text",
        "label":"Product Link Text",
        "default":"<p><a href=''></a>Link to products</a> featured in the image here.</p>"
      },
      {
        "type":"select",
        "id":"alignment",
        "label":"Image alignment",
        "default":"center",
        "options":[
           {
              "value":"top",
              "label":"Top"
           },
           {
              "value":"center",
              "label":"Middle"
           },
           {
              "value":"bottom",
              "label":"Bottom"
           }
        ]
     },
     {
        "type":"select",
        "id":"hero_size",
        "label":"Section Height",
        "default":"medium",
        "options":[
           {
              "label":"Adapt to Image",
              "value":"adapt"
           },
           {
              "label":"Extra Small",
              "value":"x-small"
           },
           {
              "label":"Small",
              "value":"small"
           },
           {
              "label":"Medium",
              "value":"medium"
           },
           {
              "label":"Large",
              "value":"large"
           },
           {
              "label":"Extra Large",
              "value":"x-large"
           }
        ]
     }
  ],
  "presets":[
     {
        "name":"Hero Image with Text",
        "category":{
           "cs":"Obrázek",
           "da":"Billede",
           "de":"Foto",
           "en":"Image",
           "es":"Imagen",
           "fi":"Kuva",
           "fr":"Image",
           "hi":"इमेज",
           "it":"Immagine",
           "ja":"画像",
           "ko":"이미지",
           "nb":"Bilde",
           "nl":"Afbeelding",
           "pl":"Obraz",
           "pt-BR":"Imagem",
           "pt-PT":"Imagem",
           "sv":"Bild",
           "th":"รูปภาพ",
           "tr":"Görsel",
           "vi":"Hình ảnh",
           "zh-CN":"图片",
           "zh-TW":"圖片"
        }
     }
  ]
}
{% endschema %}
