<div class="home-cta">

  {% for block in section.blocks %}
  <div class="grid-container" {{ block.shopify_attributes }}>

    <div class="image-wrapper">
      {% if block.settings.button_link != blank %}
      <a href="{{ block.settings.button_link }}">
        {% endif %}
        {% if block.settings.image != blank %}

          {% if block.settings.image != blank and block.settings.image_hover_swap != blank %}
          <div class="image-hover-swap">
            {% include 'image-feature-row', image: block.settings.image, height: 545, id: block.id %}
            <div class="image-hover-swap-img-wrapper">
              {% include 'image-feature-row', image: block.settings.image_hover_swap, height: 545, id: 'image-hover-swap-logo-img' %}
            </div>
          </div>
          {% else %}
            {% include 'image-feature-row', image: block.settings.image, height: 545, id: block.id %}
          {% endif %}

        {% endif %}
        {% if block.settings.button_link != blank %}
      </a>
      {% endif %}
    </div>

    <div class="text-wrapper">
      {% if block.settings.title != blank %}
      <div class="title">{{ block.settings.title }}</div>
      {% endif %}
      {% if block.settings.text != blank %}
      <div class="text">{{ block.settings.text }}</div>
      {% endif %}
      {% if block.settings.button_label != blank and block.settings.button_link != blank %}
      {%- capture ariaLabel -%}
      {{- block.settings.button_label -}}
      {%- if block.settings.button_link.type == 'frontpage_link' -%}
      : {{ 'homepage.general.title' | t -}}
      {%- elsif block.settings.button_link.type == 'catalog_link' -%}
      : {{ 'collections.catalog.title' | t -}}
      {%- elsif block.settings.button_link.object.title -%}
      : {{ block.settings.button_link.object.title -}}
      {%- endif -%}
      {%- endcapture -%}

      <a href="{{ block.settings.button_link }}" class="underline-link" aria-label="{{ ariaLabel }}">
        {{- block.settings.button_label | escape -}}
      </a>
      {% endif %}
    </div>

  </div>
  {% endfor %}

</div>



{% schema %}
{
"name": "Call to Action",
"class": "index-section section-animation",
"max_blocks": 2,
"blocks": [
{
"type": "text",
"name": "Row",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type":"image_picker",
"id":"image_hover_swap",
"label":"Image Hover Swap"
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "text",
"id": "button_label",
"label": "Button label"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
}
]
}
],
"presets": [
{
"name": "Call to Action",
"category": "Image"
}
]
}
{% endschema %}