<div data-section-id="{{ section.id }}" class="animationWrapper">

  <div class="text-banner">
    {% if section.settings.section_title_1 != blank %}
      <div class="text-center">
        <h2 class="h3">{{ section.settings.section_title_1 | escape }}</h2>
      </div>
    {% endif %}
    {% if section.settings.text != blank %}
      <p class="text-center">{{ section.settings.text }}</p>
    {% endif %}
  </div>

  <div class="our-brands">
    {% if section.settings.section_title_2 != blank %}
    <div class="text-center">
      <h2 class="h3">{{ section.settings.section_title_2 | escape }}</h2>
    </div>
  {% endif %}
    <ul>
      {% for block in section.blocks %}
      <li>
        <h3>{{ block.settings.brand_name }}<h3>
          <h4>{{ block.settings.brand_tagline }}<h4>
          </li>
      {% endfor %}
      <li>and more!</li>
    </ul>
  </div>


</div>

{% schema %}
{
  "name": "Animated Banner",
  "class": "index-section animated-banner gsap-bg-color-change",
  "settings": [
    {
      "type": "text",
      "id": "section_title_1",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "section_title_2",
      "label": "Brands Headline"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Brand",
      "settings": [
        { 
            "type": "text",
            "id": "brand_name",
            "label": "Brand Name"
        },
        { 
            "type": "select",
            "id": "brand_tagline",
            "label": "Brand Tagline",
            "options": [
              {
                "group": "tagline",
                "value": "BIPOC Owned",
                "label": "BIPOC Owned"
              },
              {
                  "group": "tagline",
                  "value": "Certified B-Corp",
                  "label": "Certified B-Corp"
                },
              {
                "group": "tagline",
                "value": "Handmade",
                "label": "Handmade"
              },
              {
                "group": "tagline",
                "value": "Made in the USA",
                "label": "Made in the USA"
              },
              {
                "group": "tagline",
                "value": "Socially Conscious",
                "label": "Socially Conscious"
              },
              {
                "group": "tagline",
                "value": "Sustainable",
                "label": "Sustainable"
              },
              {
                "group": "tagline",
                "value": "Women Owned",
                "label": "Women Owned"
              }
            ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Animated Banner",
      "category": "Text"
    }
  ]
}
{% endschema %}
