<div class="page-width rich-text">
      {% if section.settings.section_title != blank %}
        <div class="text-center">
          <h2 class="h3">{{ section.settings.section_title | escape }}</h2>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="text-center">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      {%- capture ariaLabel -%}
        {{- section.settings.button_label -}}
        {%- if section.settings.button_link.type == 'frontpage_link' -%}
          : {{ 'homepage.general.title' | t -}}
        {%- elsif section.settings.button_link.type == 'catalog_link' -%}
          : {{ 'collections.catalog.title' | t -}}
        {%- elsif section.settings.button_link.object.title -%}
          : {{ section.settings.button_link.object.title -}}
        {%- endif -%}
      {%- endcapture -%}

      <a href="{{ section.settings.button_link }}"
        class="btn"
        aria-label="{{ ariaLabel }}">
        {{- section.settings.button_label | escape -}}
      </a>
    {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Text Column",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
    }
  ]
}
{% endschema %}
