{% capture image_layout %}
<div class="image-wrapper">
  {% if settings.contact_form_image != blank %}
    {% include 'image-feature-row', image: settings.contact_form_image, height: 545, id: section.id %}
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>
{% endcapture %}

<div class="contact-page">

  <div class="contact-section contact-form-container">
    <div class="grid-container">

      {{ image_layout }}

      <div class="text-wrapper">
        <h1 class="title">{{ page.title }}</h1>
        <div class="description">
          <p>{{ settings.contact_form_description }}</p>
        </div>
        <div class="contact-form">
          {%- assign formId ='ContactForm' -%}
          {% form 'contact', id: formId %}
            {% include 'form-status', form: form, form_id: formId %}
            <div class="form-row">
            <div class="form-group">
              <label for="{{ formId }}-name" class="visually-hidden">Name</label>
              <input
                class="cf-input"
                placeholder="name"
                type="name"
                id="{{ formId }}-name"
                name="contact[name]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                aria-required="true"
                >
            </div>

            <div class="form-group">
                <label for="{{ formId }}-email" class="visually-hidden">{{ 'contact.form.email' | t }}</label>
                <input
                  class="cf-input"
                  placeholder="email address"
                  type="email"
                  id="{{ formId }}-email"
                  name="contact[email]"
                  autocorrect="off"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {%- if form.errors contains 'email' -%}
                    class="input--error"
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                  >
                {%- if form.errors contains 'email' -%}
                  <span id="{{ formId}}-email-error" class="input-error-message">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                  </span>
                {%- endif -%}
              </div>
              <div class="form-group">
                <label class="visually-hidden" for="{{ formId }}-inquiryType">corporate or retail?</label>
                <select id="{{ formId }}-inquiryType" name="contact[{{ 'contact.form.inquiryType'}}]"                 aria-required="true">
                  <option value="{{ page.url }}" readonly="true" hidden="true" selected>corporate or retail?</option>
                  <option value="Corporate">Corporate</option>
                  <option value="Retail">Retail</option>
                </select>
              </div>
              </div>
   
  
              <div class="form-group">
                <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
                <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>    
              </div>
  
            <div class="form-group">
              <input type="submit" class="btn" value="Submit">
            </div>
  
          {% endform %}
        </div> <!-- /. text-wrapper -->

      </div><!-- /. grid-container -->
      </div> <!-- / .contact-section -->

      <div class="contact-section contact-more-info">
          <div class="page-width contact-row">
            <div class="contact-row-item newsletter">
              <div class="contact-column">
                <div class="contact-column-item">
                  <div class="text-wrapper">
                    <h3>Newsletter</h3>
                    <p>{{ settings.contact_form_newsletter_description }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact-row-item socials-location">
              <div class="contact-column">
                <div class="contact-column-item socials">
                  <div class="text-wrapper">
                    <h3>Social</h3>
                    <p>{{ settings.contact_form_socials_description }}</p>

                    {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%}
                    <div class="socials">
                        <ul class="socials-list">
                          {%- for social in socials -%}
                            {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                            {%- if settings[social_link] != blank -%}
                              <li>
                                <a href="{{ settings[social_link] | escape }}" aria-describedby="a11y-external-message" target="_blank">
                                  {{ social }}
                                </a>
                              </li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                    </div> 
                  </div>
              </div>
              <div class="contact-column-item location">
                <div class="text-wrapper">
                  <h3>Location</h3>
                  <p>{{ settings.contact_form_location_description }}</p>
                </div>
              </div>
            </div>
          </div>
      </div><!-- /. grid-container -->
    </div> <!-- / .contact-section -->

    <div class="contact-section instagram-embed">
      <div id="insta-feed" class="grid-container"></div>
      <div class="page-width">
        <p class="insta-link">
          <a class="no-line" href="{{ settings.social_instagram_link }}" target="_blank">@wcompliments</a>
        </p>
      </div>
    </div> <!-- / .contact-section -->

</div><!-- /. contact-page -->